* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: american typewriter, serif bold;
}

body {
    color: white;
    background-color: #212121;
}


.menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: rgb(33, 33, 33);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.menu.active ~ .site-content {
    left: 250px;
    width: calc(100% - 250px); /*fix plz*/
}

.menu.active{
    width: 250px;
}

.menu #button {
    position: absolute;
    color: #ffff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.menu #button {
    font-size: 2rem;
}

.menu.active #button {
    left: 90%;
}

.menu .top .logo{
    color: #ffff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.menu.active .top .logo {
    opacity: 1;
}

.menu ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.menu ul li a {
    color: #ffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    height: 50px;
}
.menu ul {
    padding-left: 0;
}
.top{
    padding-bottom: 40px;
}

.menu ul li a:hover {
    background-color: #ffff;
    color: #121212;
}

.menu ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 1.5rem;
}

.menu .nav-item {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu.active .nav-item{
    opacity: 1;
}

.site-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all .5s ease;
    width: calc(100% - 80px);
    padding: 40px 7vw;
    padding-bottom: 0;
}
.container{
    display: flex;
    justify-content: right;
    padding: 35px;
}

.user{
    padding: 30px;
}

.Bio-text{
    position: relative;
    flex-direction: column;
    margin-left: 30px;
    padding-top: 40px;
    height: 100%;
    padding-right: 15px;
}

.bio-text-content{
    position: absolute;
    margin-top: 30%;
    left: 0;
    right: 0;
    text-align: left;
    font-size: 1.5rem;
}

.name-text{
    font-size: 2.6rem;
}

.site-content{
    background-color: #121212;
}

.Wave-container{
    background-color: #212121;
    position: relative;
}
/*---------CURVE in background------------*/
svg{
    padding-top: 0;
    height: 300px;
    max-width: 100%;
}

svg path{
    animation: pathAnim 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

svg path:nth-child(2){
    animation-delay: 1s
}

svg path:nth-child(3){
    animation-delay: 3s
}

svg path:nth-child(4){
    animation-play-state: paused;
}

@keyframes pathAnim{
    0%{
        d: path("M0,192 C220, 100, 440, 100, 660, 192 C880, 290, 1100, 290, 1320, 192 L1320 500 L0 500");
    }

    25%{
        d: path("M0,100 C220, 100, 440, 292, 660, 292 C880, 292, 1100, 100, 1320, 100 L1320 500 L0 500");
    }

    50%{
        d: path("M0,192 C220, 290, 440, 290, 660, 192 C880, 100, 1100, 100, 1320, 192 L1320 500 L0 500");
    }

    75%{
        d: path("M0,292 C220, 292, 440, 100, 660, 100 C880, 100, 1100, 292, 1320, 292 L1320 500 L0 500");
    }

    100%{
        d: path("M0,192 C220, 100, 440, 100, 660, 192 C880, 290, 1100, 290, 1320, 192 L1320 500 L0 500");
    }
}
/*----------CIRCLING LINK--------------*/

.li-link {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 20px;
    right: 0px;
    transform: translateY(-50%);
    animation: circle 8s linear infinite;
    display: inline-block;
    display: none;
    
}
/*
@keyframes circle {
    0%{
        transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}
*/
.user-img{
    width: 350px;
    border-radius: 100%;
    border: 2px solid #5e4be9;
    position: relative;
}

.spanlink{
    position: absolute;
    transform-origin: 0 200px;
    font-family: american typewriter, serif bold;
    font-weight: 800;
    text-transform: capitalize;
    color: white;
} 
/*------contact form--------------*/

.contact-form-Names {
    display: flex;
    flex-wrap: wrap;
}

.contact-form-row {
    flex: 0 0 50%;
    padding-right: 10px; /* Adjust as needed */
    box-sizing: border-box;
}

.contact-form-row label {
    display: block;
    margin-bottom: 5px;
}

.contact-form-row input,
.contact-form-row textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.contact-form-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #5e4be9;
    color: white;
    cursor: pointer;
}

.contact-form-buttons button:hover {
    background-color: #a69df0;
}